* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    box-sizing: border-box;
}



body {
    background-color: #004d00;
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    background-color: white;
    #004d00
}

header img {
    width: 100%;
    display: block
}


nav {
    background-color: grey;
    overflow: hidden;
}


a.menu {
    display: block;
    width: 20%;
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-style: oblique;
    font-size: 20px;
    padding: 15px 20px;
    background-color: darkgray;
    transition: all 1s easy;
    -webkit-transition: all 1s easy;
}

a.active {
    background-color: red;
}

a.menu:hover {
    font-size: 22px;
    background-color: olive;
}



article {

    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0 20px;
}

h1 {
    font-size: 35px;
    font-family: 'IBM Plex Sans';
    text-align: center;
    margin: 0 10% 1px 10%;
    border-bottom: 2px solid red;
    padding-bottom: 15px;
}

h2 {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

img.left {
    float: left;
    margin: 0px 10px 10px 0;
    width: 25%;
    border-radius: 35%;
    border: 2px solid red;
}

p {
    text-align: justify;
    line-height: 30px;
    font-size: 19px;
    padding: 15px 0;
}

p1 {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    color: red
}

iframe {
    width: 100%;
    border: solid red;
}

footer {
    color: darkred;
    height: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration-color: white;
}

@media (max-width:800px) {
    a.menu {
        width: 50%;
        font-size: 17px;

    }
    h1 {
        font-size: 18px;
        color: red;
    }
    h2 {
        text-align: center;
        font-size: 15px;
        font-style: italic;
        font-weight: bold;
    }

    @media (max-width:500px) {
        a.menu {
            width: 100%;
            font-size: 15px;

        }
        h1 {
            font-size: 14px;
        }
